@import "./styles/Variaves.css";

* {
  font-family: "Lato";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

i {
  background-color: var(--main-color);
  color: var(--primary-text-color);
  font-size: 1.5rem;
  padding: 1rem;
}